[Unit]
Description=MQTT Sensors exporter
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/mqtt-sensors

[Install]
WantedBy=multi-user.target